<footer>&copy; {{ now.Format "2006"}} Michel Vuijlsteke, tralala. Niet dat er iets te copyrighten is maar hey.</footer>
<script>
    const isPlantPage = window.location.href.includes('planten/planten');
    
    for (let img of document.getElementsByTagName('img')) {
        // Skip SVG images on plant pages
        if (isPlantPage && img.src.toLowerCase().endsWith('.svg')) {
            continue;
        }
        
        let a = document.createElement('a');
        let parent = img.parentElement;
        a.href = img.src;
        a.appendChild(img);
        parent.prepend(a);
    }
</script>